header {
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
    padding-left: 51px;
    padding-top: 92px;
    padding-right: 49px;
}

.links-list {
    display: flex;    
    margin-top: 43px;
    margin-bottom: 45px;
  }

.links-list__item {
    margin-left: 25px;
  }

.logo-black {
    width: 148px;
    height: 105px;
}

/*img логотипа в header абсолютным позиционированием */ 